# -------------------------
# Core framework
# -------------------------
Django==5.2.7
djangorestframework
django-cors-headers
django-filter

# -------------------------
# Authentication & API
# -------------------------
djangorestframework-simplejwt==5.3.1
drf-spectacular==0.27.2

# -------------------------
# Production server
# -------------------------
gunicorn

# -------------------------
# Database
# -------------------------
psycopg2-binary

# -------------------------
# Celery-related apps (installed even if Celery is disabled)
# -------------------------
django-celery-results
django-celery-beat

# -------------------------
# File handling / utilities
# -------------------------
python-barcode==0.14
Pillow>=10.0
django-cleanup>=6.0.0
openpyxl>=3.0.0

# -------------------------
# Environment support
# -------------------------
python-dotenv

dj-database-url

reportlab>=4.0.0

whitenoise>=6.6.0

