# Core framework
Django>=4.2
djangorestframework
django-cors-headers
djangorestframework-simplejwt==5.3.1


# Production server
gunicorn

# Database
psycopg2-binary

# Your existing dependencies
python-barcode==0.14
Pillow>=10.0
django-cleanup>=6.0.0
openpyxl>=3.0.0

# Env support
python-dotenv

drf-spectacular==0.27.2
djangorestframework
drf-spectacular==0.27.2
